<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>chats</title>
    <link rel="stylesheet" type="text/css" href="/css/temp_chats.css">
    <script src="/js/1.js"></script>

</head>
<body>
    <div class="outer_fram">
        <div class="chat_fram" id="message">
            <div class="usertalk"><span id="usertalk">hey</span></div>
        </div>
        <div class="talk_input">
            <input type="text" class="input_fram" id="talkwords">
            <input type="button" value="send" class="send_button" id="talksub">
        </div>
    </div>
</body>
</html>
