<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<title>2 Column Layout with a top Menu</title>
<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="../css/temp_disscussion.css" />
</head>
<body>
<header>
<h1>Disscussion Board</h1>
</header>
<div id="container">
<article>
<header>
<h1>Question title</h1>
</header>
<p>Question content</p>
<footer>
<p>Disscussion from users</p>
</footer>
</article>
<nav>
<h1>List of questions</h1>
</nav>
</div>
<footer>
    <a href="https://www.sydney.edu.au/students/academic-dishonesty.html">Academic Honesty</a>
</footer>
</body>
</html>