<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<css src="css/temp.css">
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>SoCS</title>
<style>
  body{
    background-image: url("/img/background.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-opacity:75%;
    }
</style>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>

  <li><a href="/mainpage">Main Page</a></li>
  <li><a href="/discussion">Discussion Board</a></li>
  <li><a href="/resource">Resource</a></li>
  <li><a href="/message">Message</a></li>
  <li><a href="/chats">Chats</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/logout">Log out</a></li>
</ul>
</p>



<p>
