<center><h1 style="font-family: 'Times New Roman'; font-size: 40px; margin-top: 150px; color: white">Log in with your username and password</h1>
</p>
<p>
<form action="/login" method="post" style="font-family: 'Times New Roman'; font-size: 30px; margin-left: 0px; color: white">
    Username: <input name="username" type="text" />
</br>
    Password: <input name="password" type="password" />
</br>
    <input style="font-family: 'Times New Roman'; font-size: 25px; margin-top: 10px; color: black" value="Login" type="submit" />
</br>
  <a href="/password" style="color: white; font-size: 25px"> Forgot password?
</form>
</p>
</center>
