<!-- <center><h1 style="font-family: 'Times New Roman'; font-size: 40px; margin-top: 150px; color: white">Do you wish to Log out?</h1>
</p>
<p>
<form action="/home" style="font-family: 'Times New Roman'; font-size: 30px; margin-left: 0px; color: white">

    <input style="font-family: 'Times New Roman'; font-size: 25px; margin-top: 10px; color: black" value="Yes" name = "logout" type="submit" />
    </form>

<form action="/discussion" style="font-family: 'Times New Roman'; font-size: 30px; margin-left: 0px; color: white">
    <input style="font-family: 'Times New Roman'; font-size: 25px; margin-top: 10px; color: black" value="No" name = "cancel" type="submit" />

</form>
</p>
</center> -->


<center><h1 style="font-family: 'Times New Roman'; font-size: 40px; margin-top: 150px; color: white">Log out successful</h1>
<h2>See you next time</h2>

</br>
</br>
<a href="/login" style="color: white; font-size: 25px"> Login Again?

</p>
</center>
