<center><h1 style="font-family: 'Times New Roman'; font-size: 40px; margin-top: 150px; color: white">Register with your username and password</h1>
</p>
<p>
<form action="/register" method="post" style="font-family: 'Times New Roman'; font-size: 30px; margin-left: 0px; color: white">
    Username: <input name="username" type="text" />
</br>
    Password:  <input name="password" type="password" />
</br>
    Are you a staff or student: <select name="role"/>
                                  <option value = "0">Staff</option>
                                  <option valeu = "1">Student</option>
                                  </select>
</br>
    Units of study code you have Done: <input name="donecodes" type="text" />
</br>
    Units of study code you are Doing: <input name="doingcodes" type="text" />
</br>
    Programming languages skills: <select name="programming_languages" />
                                      <option value = "0">Java</option>
                                      <option value = "1">Python</option>
                                      <option value = "2">C</option>
                                      <option value = "3">C++</option>
                                      <option value = "4">Javascript</option>
                                      <option value = "5">R Studio</option>
</br>                                 </select>

</br>
    Email: <input name="email" type="text" />
</br>

    <input style="font-family: 'Times New Roman'; font-size: 25px; margin-top: 10px; color: black" value="Register" type="submit" />
</form>
</p>
</center>
